body {
    background-color: lightpink;
}

section {
    max-width: 2500px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title { 
    color:red;
    font-family: "Pacifico", cursive;
    word-spacing: 16px;
    letter-spacing: 6px;
    margin-top: 150px;
    font-size: 60px;
}

.title span {
    transition: transform 0.3s ease; 
    display: inline-block; 
}

.title span:hover {
    transform: scale(1.2); 
}

.buttons {
    display: flex;
    max-width: 2500px;
    justify-content: center;
    align-items: center;
}


.yes {
    margin-top: 24px;
    margin-right: 40px;
    border-radius:10px;
    padding: 12px;
    border-style: hidden;
    font-family: "Pacifico", cursive;
    width: 100px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.6s ease;
}

.yes:hover {
    transform: scale(1.5);
}

.no {
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius:10px;
    padding: 12px;
    border-style: hidden;
    font-family: "Pacifico", cursive;
    width: 100px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.6s ease;
}

.no:hover {
    transform: scale(1.5);
}

.yes__img {
    width: 300px;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 20px;
}

.no__img {
    width: 300px;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 20px;
}