body {
    background-color: lightpink;
}

section {
    max-width: 2500px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title { 
    color:red;
    font-family: "Pacifico", cursive;
    word-spacing: 16px;
    margin-top: 150px;
}

.buttons {
    display: flex;
    max-width: 2500px;
    justify-content: center;
    align-items: center;
}


.yes {
    margin-top: 24px;
    margin-right: 12px;
    border-radius:10px;
    padding: 12px;
    border-style: hidden;
    font-family: "Pacifico", cursive;
    width: 100px;
    cursor: pointer;
}

.no {
    margin-top: 24px;
    margin-left: 12px;
    border-radius:10px;
    padding: 12px;
    border-style: hidden;
    font-family: "Pacifico", cursive;
    width: 100px;
    cursor: pointer;
}